<div class="row">
    <div class="col-md-6 col-sm-12">
        <h4>Přihlášení do mého účtu</h4>
        <form action="/login" method="post">
            <input type="text" class="form-control" name="login" placeholder="Name" value="" />
            <input type="password" class="form-control" name="pwd" placeholder="Password" value="" />
            <input type="submit" class="btn btn-secondary btnMain" name="btnLogin" id="btnLogin" value="Login" />
        </form>
    </div>
    
    <div class="col-md-6 col-sm-12">
        <h4>Nová registrace</h4>
        <form action="/register" method="post">
            <input type="text" class="form-control" name="login" placeholder="Name" value="" />
            <input type="password" class="form-control" name="pwd" placeholder="Password" value="" />
            <input type="submit" class="btn btn-secondary btnMain" name="btnRegister" id="btnRegister" value="Register" />
        </form>
    </div>
</div>