<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDAKd9ArTFcpQxFQEMLmqSD2ZFYzJNY-gs&callback=initMap&libraries=&v=weekly"
      defer
    ></script>
    <style type="text/css">
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 90%;
      }

      /* Optional: Makes the sample page fill the window. */
      html,
      body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
    <script>
      "use strict";

      function initMap() {
        const myLatLng = {
          lat: 50.4618,
          lng: 16.1893
        };
        const map = new google.maps.Map(document.getElementById("map"), {
          zoom: 14,
          center: myLatLng,
          fullscreenControl: true,
          zoomControl: true,
          mapTypeControl: false,
          streetViewControl: false,
          mapTypeId: 'satellite'
        });
        new google.maps.Marker({
          position: myLatLng,
          map,
          title: "Hello World!"
        });
      }
</script>

<div id="map"></div>