<%- include('../template/head')-%>
<body class="text-center">

    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
        <header class="masthead mb-auto">
            <div class="inner">
                <h3 class="masthead-brand">SAF-ATM</h3>
                <nav class="nav nav-masthead justify-content-center">
                    <a class="nav-link active" href="#">Domů</a>
                    <a class="nav-link" href="#">O Aplikaci</a>

                    <% if(data.logged) { %>
                    <a class="nav-link" href="/profile">Můj účet</a>
                    <a class="nav-link" href="/logout">Odhlásit</a>
                    <% } else { %> 
                    <a class="nav-link" href="/profile">Můj účet</a>
                    <% } %>

                </nav>
            </div>
        </header>
    

        <main role="main" class="inner cover">
            <h1 class="cover-heading">SAF-ATM</h1>
            <p class="lead">Aplikace na váš chytrý telefon pro sdílení polohy se spoluhráči, s možností označovat potencionální neptřítele a body na mapě v reálném čase. 
                Získejte tak taktickou výhodu na bojišti!</p>
            <p class="lead">
                <a href="#" class="btn btn-lg btn-secondary btnMain">VÍCE INFO</a>
            </p>
        </main>
    
        <footer class="mastfoot mt-auto">
            <div class="inner">
                <p>Ladislav Hloušek &copy; 2021</p>
            </div>
        </footer>
    </div>
<%- include('../template/footer') -%>