<%- include('../template/head')-%>
<body class="text-center">

    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
        <header class="masthead mb-auto">
            <div class="inner">
                <h3 class="masthead-brand">SAF-ATM</h3>
                <nav class="nav nav-masthead justify-content-center">
                    <a class="nav-link" href="/">Domů</a>
                    <a class="nav-link" href="/">O Aplikaci</a>
                    <a class="nav-link active" href="/profile">Můj účet</a>
                    
                    <% if(data.logged) { %>
                    <a class="nav-link" href="/logout">Odhlásit</a>
                    <% } %>
                </nav>
            </div>
        </header>

        <main role="main" class="inner cover">
            <h2 class="cover-heading">Můj účet</h2>
            
            <% if(!data.logged) { %>
                <%- include('../partials/login_register') -%>
            <% } else { %>
                
            <% } %>
        </main>
    
        <footer class="mastfoot mt-auto">
            <div class="inner">
                <p>Ladislav Hloušek &copy; 2021</p>
            </div>
        </footer>
    </div>

<%- include('../template/footer') -%>