<html lang="cs">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />

        <link href="/css/bootstrap-reboot.min.css" rel="stylesheet">
        <link href="/css/bootstrap.min.css" rel="stylesheet">
        <link href="/css/site.css" rel="stylesheet">
        <title><%= data.title %></title>
    </head>
